<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="register-login">Login</label>
        <input formControlName="login" type="text" class="form-control" id="register-login"
               aria-describedby="login-help"
               placeholder="myawesomelogin">
        <small id="login-help" class="form-text text-muted">Create login from english letters
        </small>
    </div>
    <div class="form-group">
        <label for="register-password">Password</label>
        <input formControlName="password" type="password" class="form-control" id="register-password"
               placeholder="1234567">
        <small id="password-help" class="form-text text-muted">
            Create a password of letters, numbers and special characters (like @ or $). <br>
            And, please, make something stronger than 123456, ok?
        </small>
    </div>
    <div class="form-group">
        <label for="register-password-confirm">Confirm password</label>
        <input formControlName="passwordConfirm" type="password" class="form-control" id="register-password-confirm"
               placeholder="again 1234567">
        <small id="password-confirm-help" class="form-text text-muted">
            Repeat, pls
        </small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Register</button>
</form>