<h1>Point Storage</h1>

<div class="row">
    <div class="col">
        <p>
            Point Storage offers free unlimited (private) repositories for your points.
        </p>

        <ul>
            <li>
                easy create points just by tap on the canvas
            </li>
            <li>
                store your points for many many years
            </li>
            <li>
                and so on...
            </li>
        </ul>
    </div>
    <div class="col">

        <h3>Login or register for using Point Storage</h3>

        <ngb-tabset>
            <ngb-tab title="Sign in">
                <ng-template ngbTabContent>
                    <app-signin></app-signin>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Register">
                <ng-template ngbTabContent>
                    <app-register></app-register>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>