<ngvas [width]="400" [height]="400" (click)="onClick($event)" #canvas>
    <ngvas-image fill="rgba(0,0,0,0)" [x]="0" [y]="0" [(width)]="width" [(height)]="height"
                 src='~s225111/assets/plate.png'></ngvas-image>

    <ngvas-text fill="#000000" [textStyle]="{ font: '18px Arial' }" [x]="183" [y]="220" text="0"></ngvas-text>
    <ngvas-text fill="#000000" [textStyle]="{ font: '18px Arial' }" [x]="183" [y]="208 - radius * ypxPerCell"
                text="R"></ngvas-text>
    <ngvas-text fill="#000000" [textStyle]="{ font: '18px Arial' }" [x]="193 + radius * xpxPerCell" [y]="220"
                text="R"></ngvas-text>


    <ngvas-arc fill="#004DFF" [x]="200" [y]="200" [radius]="radius * xpxPerCell / 2" [angle]="90" [rotate]="90"
               [opacity]="0.6" origin="center" [connectToCenter]="true"></ngvas-arc>
    <ngvas-rectangle fill="#004DFF" [x]="200" [y]="200 - radius * xpxPerCell / 2" [width]="radius * xpxPerCell"
                     [opacity]="0.6"
                     [height]="radius * xpxPerCell / 2" (click)="onClick($event)"></ngvas-rectangle>

    <ngvas-polygon fill="#004DFF" [sides]="[
        [[200 - xpxPerCell * radius / 2, 200], [200, 200]],
        [[200, 200], [200, 200 - xpxPerCell * radius]],
        [[200, 200 - xpxPerCell * radius], [200 - xpxPerCell * radius / 2, 200]]
     ]" [opacity]="0.6"></ngvas-polygon>

    <ng-template ngFor let-point [ngForOf]="this.pointService.points">
        <ngvas-circle [fill]="color(point)"
                      [x]="toCanvasX(point.x)" [y]="toCanvasY(point.y)" [radius]="3" origin="center">
        </ngvas-circle>
    </ng-template>

</ngvas>

<form [formGroup]="form">
    <div class="form-group row">
        <label for="r-input" class="col-form-label col-2 text-right">Radius:</label>
        <div class="col-10">
            <input formControlName="r" class="form-control" type="range" id="r-input" min="1" max="7" step="1"
                   [(ngModel)]="radius">
        </div>
    </div>
</form>